.text_center {
  text-align: center;
}

.visual {
  text-align: center;
  overflow: hidden;
}

.playlist {
  list-style: none;
  padding-left: 20px;

  li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0;

    button {
      cursor: pointer;
      margin-right: 4px;
    }
  }
}

.tabs {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  .tab {
    margin-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid blueviolet;
    }
  }
}
