.app {
  color: #363f41;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .item {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0.1rem;

      &.fixed {
        flex-grow: 0;
        flex-shrink: 0;
      }

      &:not(.fixed) {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  main {
    max-width: 100vw;
  }

  &.dark {
    color: white;
    background-color: #282c35;
  }
}

.source_select_container {
  width: 100%;
}

.source_select {
  width: 100%;
}
