.app {
  color: #363f41;
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  main {
    max-width: 800px;
  }
}

.source_select_container {
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  min-width: 100px;
  margin-right: 10px;
}

.source_select {
  width: 100%;
}
