.visual {
  text-align: center;
  overflow: hidden;
}

.desktop {
  .visual {
    // margin: 0 24rem;
  }
}

.source_header {
  a {
    color: #999;
    text-decoration: none;
    margin-left: 1rem;

    &:hover {
      color: #aaa;
      text-decoration: none;
    }
  }
}

.card {
  width: 100%;
  height: 100%;
}

.card.dark {
  .source_header a {
    color: whitesmoke;
  }
}

.interactive_icon {
  cursor: pointer;
}

.table_container {
  display: flex;
  justify-content: center;
}

.list_container {
  ul {
    display: inline-block;
    list-style: none;
    padding: 0 2rem;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      padding: 0;

      .interactive_icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.ml {
  margin-left: 0.5rem;
}

.tabs_container {
  display: flex;
  justify-content: center;
}

.tabs {
  display: inline-block;
  margin: 1rem;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 2rem;

  .tab {
    font-size: 0.9rem;
    margin-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;

    &.active {
      font-weight: bold;
      border-bottom: 3px solid blueviolet;
    }
  }
}

.desktop {
  .playlist {
    columns: 2;
  }
}

.show_more {
  width: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
