.visual {
  text-align: center;
  overflow: hidden;
}

.card {
  margin-bottom: 20px;

  &.desktop {
    width: 512px;
  }

  &.mobile {
    width: 100vw;
  }
}

.interactive_icon {
  cursor: pointer;
}

.table_container {
  display: flex;
  justify-content: center;
}

.ml {
  margin-left: 0.5rem;
}

.tabs_container {
  display: flex;
  justify-content: center;
}

.tabs {
  display: inline-block;
  margin: 1rem;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 2rem;

  .tab {
    font-size: 0.9rem;
    margin-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;

    &.active {
      font-weight: bold;
      border-bottom: 3px solid blueviolet;
    }
  }
}

.show_more {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
