.card {
  color: #333;
}

.text_center {
  text-align: center;
}

.visual {
  text-align: center;
  overflow: hidden;
}

.source_header {
  a {
    color: #999;
    text-decoration: none;
    margin-left: 1rem;

    &:hover {
      color: #aaa;
      text-decoration: none;
    }
  }
}

.interactive_icon {
  cursor: pointer;
}

.playlist {
  display: inline-block;
  list-style: none;
  padding: 0 2rem;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0;

    .interactive_icon {
      margin-right: 4px;
    }
  }
}

.tabs {
  margin: 1rem;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 2rem;

  .tab {
    font-size: 0.9rem;
    margin-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;

    &.active {
      font-weight: bold;
      border-bottom: 3px solid blueviolet;
    }
  }
}

.desktop {
  .playlist {
    columns: 2;
  }
}
