$border: hsl(0,0%,80%);

.container {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;

  button {
    background: transparent;
    border: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: $border;

    &:focus {
      outline: none;
    }

    &.left {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 1px solid $border;
      border-right: 0;
    }

    &.right {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid $border;
      border-left: 0;
    }
  }

  input {
    width: 100%;
    height: 38px;
    border: 1px solid $border;
    margin: 0;
    box-sizing: border-box;
    padding: 2px 0.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.not_empty {
      border-right: 0;
      border-radius: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
