.list {
  list-style-type: none;

  .item {
    margin: 1em 0;
    word-break: keep-all;
  }
}

.category {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.word {
  margin-right: 5px;
}
