.list {
  list-style-type: none;
  margin: 1em 0;

  .item {
    margin: 1em 0;
  }
}

.category {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.word {
  display: inline-block;
  margin-right: 5px;
  color: blueviolet;
}
